body {
  font-family: "Montserrat", sans-serif;
}

.header-main {
  padding-top: 5px;
}

#body-container {
  border-radius: 30px;
  margin: 0 auto;
  width: 60%;
  background-color: rgb(213, 221, 224);
  padding: 40px;
}

.logo img {
  opacity: 90%;
}

form {
  margin-left: 50px;
  padding-top: 50px;
}
.search-bar {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #e99b9b;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

.current-details {
  color: #50595c;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  font-size: 30px;
}
.current-weather strong {
  color: rgb(229, 103, 103);
}

h1 {
  color: #698474;
  font-size: 68px;
}
.current-day {
  font-size: 36px;
  font-style: italic;
}
.current-temperature {
  font-size: 60px;
  color: rgb(229, 103, 103);
}

footer {
  text-align: center;
  font-size: smaller;
}
